{% extends 'users/base.html' %} 
{% load hitcount_tags %}
{% block content %}
<center>
<div class='card' style="width: 40rem;">
    <img src="{{blog.image.url}}"  class="card-img-top h-10" alt="..." />
    <div class="card-body">
        <h5 class="card-title text-info ">{{blog.title}}</h5>
        <hr>
        <p class="card-text" >{{blog.content}}</p>
        {% if request.user == blog.author %}
        <a href="{% url 'update' blog.id  %}" class="btn btn-warning">Update</a>
        <a href="{% url 'delete' blog.id  %}" class="btn btn-warning">Delete</a>
        {% endif %} 
      </div>
      <div class="card-footer">
        <form action='{%url 'like_post' blog.pk%}' method='POST'>
          {% csrf_token %}
         <button class='btn' type='submit', name='blog_id', value='{{blog.id}}'><i class="fa-solid fa-heart" style='color:red'>
        </i>  {{total_likes}}</button>
        <i class="fa fa-eye" style='color:grey'></i> {% get_hit_count for blog %}
        </form>
        <small class='text-muted'>Author: {{blog.author}}</small>
        <br>
        <small class="text-muted">Last updated 3 mins ago</small>
        <br>
      </div>
    </div>
  </center>
{% endblock content %}