{% extends 'users/base.html' %} {% load static %} 
{% load hitcount_tags %}
{% block content %}
<p class="h4">Recent Posts</p>
<hr class='hr1'/>
<br />
    <div class="row">
      {% for blog in blogs %}
      <div class="col-4 mb-5" >
      <div class="card h-55">
        <img src="{{blog.image.url}}" style="height:250px" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title ">{{blog.title}}</h5>
          <hr>
          <p class="card-text" >{{blog.content | slice:200}}...</p>
          {% if request.user.is_authenticated %}
          <a href="{% url 'detail' blog.id  %}" class="btn btn-outline-dark">Read More</a>
          {% else %}
          <a href="{% url 'user_login'  %}" class="btn btn-outline-dark">Read More</a>
          {% endif %}
        </div>
        <div class='ml-auto'>
        <form action='{%url 'like_post' blog.pk%}' method='POST' >
          {% csrf_token %}
         <button style='background:white' class='btn' type='submit', name='blog_id', value='{{blog.id}}'>
           <i class="fa-solid fa-heart ">
        </i> {{blog.total_likes}} </button>
        <i class="fa fa-eye"></i> {% get_hit_count for blog %}
        <i class="fa-solid fa-comment-dots px-3"></i>
        </form>
      </div>
        <div class="card-footer">
          <img class='rounded-circle-list' src='{{user.profile.image.url}}'/>
          <small class='text-muted ml-2'>Author: {{Author}}</small>
          <br>
          {% comment %} <small class="text-muted">Last updated {{ blog.date_created |timesince}} ago</small> {% endcomment %}
        </div>
      </div>
    </div>
      {% endfor %}
</div>


{% endblock content %}
