{% extends 'users/base.html' %}
{% load static %} 
{% block content %}
<div class="container mt-5">
    <div class="row">
      <div class="col-8">
        <img class='w-100' src="{% static 'users/img/about1.png' %}" alt="..." />
      </div>
      <div class="col-4">
        <div>
          <img class='w-100' src="{% static 'users/img/about2.png' %}" alt="..." />
        </div>
        <center class='mt-5'>
        <a href=" {% url 'register' %}" class="btn btn-outline-dark btn-lg">Join Us</a>
        <a href="{% url 'newblog' %}" class="btn btn-dark ml-2 btn-lg">Create Blog</a></div>
      </center>
    </div>
  </div>
  {% endblock content %}