{% extends 'users/base.html' %}
{% block content %} {% load crispy_forms_tags %}
<div class="row">
  <div class="col-md-6 offset-md-3">
    <h2>Login</h2>
    <hr>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %} {{form|crispy}}
      <button type="submit" class="btn btn-outline-dark mr-3">Login</button>
      <span><a href="{% url 'password_reset' %}">Forget Password?</a></span>
      <hr>
    </form>
    <small>Need an account? <a class='ml-2' href="{% url 'register' %}">Sign Up Now</a></small>
    <hr>
  </div>
</div>
{% endblock content %}